#filterModal {
  label {
    font-weight: normal;
  }
}

.filter-choice {
  input {
    display: block;
    margin-right: 5px;
    float: left;
  }
  label {
    display: block;
  }
}
.modal-header {
  text-align: right;
  .btn {
    margin-left: 5px;
  }
}
.btn-area {
  padding: 5px;
}
.btn-all {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

#filtercount {
 float:left;
 color: #337ab7;
 font-size: 150%;
 font-weight: bold;
}
